/* ######## default settings ########*/
header,
footer,
nav {
  background: #c0c0c0;
  display: block;
}
body {
  line-height: 1;
  margin: 0;
  background: #c0c0c0;
}
/* ####### nav bar #######*/
nav {
  width: 100%;
  margin: 0;
}
nav {
  background: linear-gradient(to right, #2f00ff, #00ffff);
  overflow: hidden;
  padding: 0;
  margin: 0;
}
ul.topnav li {
  float: left;
  list-style: none;
}
ul.topnav li.right {
  float: right;
}
ul.topnav li a {
  display: block;
  text-decoration: none;
  text-align: center;
  min-height: 16px;
  color: #000000;
  padding: 14px;
  text-transform: uppercase;
}
ul.topnav li a:hover {
  background-color: #000000;
  color: white;
}
ul.topnav li.dropdownIcon {
  display: none;
}
/* ######### moblie version ######## */
@media screen and (max-width: 680px) {
  ul.topnav li:not(:nth-child(1)) {
    display: none;
  }
  ul.topnav li.dropdownIcon {
    display: block;
    float: right;
  }
}
/* ######## H1 TAG ####### */
h1 {
  text-align: center;
  margin: 0;
}
h1 a:hover {
  color: #ffffff;
  background-color: #000000;
}
h1 a {
  text-decoration: none;
  color: #000000;
}
